# Backend
SECRET_KEY=replace-me
DATABASE_URL=sqlite:///sounglah.db
FLASK_ENV=development
ADMIN_EMAIL=admin@sounglah.com
ADMIN_PASSWORD=password
CLOUDINARY_CLOUD_NAME=replace-me
CLOUDINARY_API_KEY=replace-me
CLOUDINARY_API_SECRET=replace-me
CLOUDINARY_UPLOAD_ROOT=sounglah/dev
MAX_IMAGE_UPLOAD_MB=5
